<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.2//EN" "http://resources.openmrs.org/doctype/config-1.2.dtd">

<module configVersion="1.2">
	
	<!-- Base Module Properties -->
	<id>laboratorymanagement</id>
	<name>Laboratory Management</name>
	<version>0.1.0.9</version>
	<package>org.openmrs.module.@MODULE_ID@</package>
	<author>MANIRAGENA Faustin</author>
	<description>
			Laboratory Module. helpful track the flow of patient lab.
	</description>

	<activator>@MODULE_PACKAGE@.LaboratoryModuleActivator</activator>
	
	<!-- <updateURL>https://dev.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL>
-->
	<!-- /Base Module Properties -->
	
	<require_version>1.6.2.12911</require_version>
	  
	<require_modules>
       <require_module version="0.0.7">org.openmrs.module.mohappointment</require_module>
	</require_modules>
	
	<!-- Extensions -->
	<extension>
		<point>org.openmrs.tracmodule.list</point>
		<class>@MODULE_PACKAGE@.extension.html.AdminList</class>
	</extension>
	
	<extension>
		<point>org.openmrs.patientDashboardTab</point>
		<class>@MODULE_PACKAGE@.extension.html.LabOrderDashboardTab</class>
	</extension>	
	
	<!-- Advice  	
	<advice>
		<point>org.openmrs.api.ObsService</point>
		<class>@MODULE_PACKAGE@.advice.LaboratoryServiceAdvice</class>
	</advice>-->
		
	<globalProperty>
		<property>@MODULE_ID@.labtests.conceptIds</property>
		<defaultValue>5497,21,856,1553</defaultValue>
		<description>This should be a list of conceptIds corresponding to lab-tests t</description>
	</globalProperty>
	
	 
	<globalProperty>
		<property>@MODULE_ID@.encounterType.labEncounterTypeId</property>
		<defaultValue></defaultValue>
		<description>The encounter type occured between  the Clinician/physician and the Patient.
		</description>
	</globalProperty>
		
	<globalProperty>
		<property>@MODULE_ID@.encounterType.labOrderEncounterTypeId</property>
		<defaultValue></defaultValue>
		<description>The encounter type occured between a clinician and Patient 
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>@MODULE_ID@.orderType.labOrderTypeId</property>
		<defaultValue></defaultValue>
		<description>The order type used to order lab exams 
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>@MODULE_ID@.multipleAnswerConceptIds</property>
		<defaultValue>304</defaultValue>
		<description>List of concept IDs whose concepts can have multiple answers</description>
	</globalProperty>
	 
	<globalProperty>
		<property>@MODULE_ID@.labExamCategory</property>
		<defaultValue>8004,7222,7192,7244,7265,7243</defaultValue>
		<description>This is the Lab Exam Category</description>
	</globalProperty>
	
	<!-- Required Privileges -->
	
	<privilege>
		<name>view laboratory management</name>
		<description>the user can manage the Lab orders and results</description>
	</privilege>
	<privilege>
		<name>View Monthly Report</name>
		<description>The user can view the monthly report</description>
	</privilege>
	<privilege>
		<name>Add Lab Configurations</name>
		<description>The user can add Laboratory configurations</description>
	</privilege>
	<privilege>
		<name>Patient Dashboard - View Laboratory Order</name>
		<description>The user can view the Laboratory tab on the Patient dashboard</description>
	</privilege>
	
	
	<!--
	<dwr>
		<allow>
			<create creator="new" javascript="DWRFormEntryService">
				<param name="class" value="org.openmrs.module.@MODULE_ID@.web.DWRFormEntryService"/>
				<include method="enterForm"/>
			</create>
		</allow>

		<signatures>
			<![CDATA[
			import @MODULE_PACKAGE@.web.DWRFormEntryService;
			DWRFormEntryService.enterForm(Integer patientId, Integer formId, boolean useEncounter, List<String> fields);
			]]>
		</signatures>	
	</dwr>
	-->
	
	<!-- Servlets -->
	<!-- Accessed through the url /pageContext()/moduleServlet/<moduleId>/<servlet-name> 
	<servlet>
		<servlet-name>formDownload</servlet-name>
		<servlet-class>@MODULE_PACKAGE@.web.FormDownloadServlet</servlet-class>
	</servlet>
	-->
	<!-- /Servlets -->
	
	
	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<!-- /Internationalization -->
	
	
</module>

